header {
    background-color: #1f2937;
    padding: 0 8% 5% 8%;
    border-radius: 8px;
}

.header_logo{
    font-size: 24px;
    color: #f9faf8;
}

.header_nav {
    display: flex;
}

.link_container{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    padding: 1%;                            /*If using a flex container, set padding on wrapper*/
    flex-direction: row;
    justify-content: end;
}

.link{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin: 1%;                             /*And set margin on the containers children, this enables space between inline items*/
    transition: color 0.25s;
}

.link:hover{
    color: #3882f6;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 1%;
}

h1 {
    display: flex;
    font-size: 48px;
    color: #f9faf8;
}

.sub_text{
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

.header_img{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: end;
    height: auto;
    width: 240px;
    padding: 5%;
    background-color: #f9faf8;
    border-radius: 25%;
}

.action_button{
    background-color: #3882f6;
    border-color: white;
    color: #f9faf8;
    border-width: 1px;
    border-radius: 8px;
    font-size: 24px;
    width: 15%;
    padding: 1%;
    transition: 0.25s;
}

.action_button:hover{
    background-color: #0158d3;
}

.init_button{
    background-color: #3882f6;
    border-color: white;
    color: #f9faf8;
    border-width: 1px;
    border-radius: 8px;
    font-size: 24px;
    width: 15%;
    padding: 1%;
    transition: 0.25s;
}

.init_button:hover{
    background-color: #0158d3;
} 

main{
    padding: 1%;
}

.information{
    font-size: 36px;
    font-style: bold;
    text-decoration: underline;
    color: #1f2937;
    text-align: center;
    padding: 1%;
}

.product_pictures{
    display: flex;
    flex: auto;
    justify-content: space-between;
    width: auto;
    height: 120px;
    padding: 5%;
}

.product:hover{
    background-color: rgb(219, 218, 215);
    border-radius: 50%;
}

.quote{
    padding: 2%;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    border-radius: 8px;
}

.action{
    padding: 2%;
    margin: 5% 10%;
    border-radius: 15px;
    text-align: center;
    background-color: #3882f6;
}

footer {
    padding: 1%;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    border-radius: 8px;
}
