header {
    background-color: #1f2937;
    padding: 5% 10%;
}

.header_logo{
    font-size: 24px;
    color: #f9faf8;
}

.header_nav {
    display: flex;
}

.link{
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    flex: auto;
    flex-direction: row;
    justify-content: end;
}

.content{
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

.sub_text{
    font-size: 18px;
    color: #e5e7eb;
}

.action_button{
    background-color: #3882f6;
    border-color: white;
    color: #f9faf8;
    border-width: 1px;
    border-radius: 8px;
}

.init_button{
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    width: 15%;
    padding: 1%;
}

.information{
    font-size: 36px;
    font-style: extra-bold;
    color: #1f2937;
    text-align: center;
}

.product_pictures{
    display: flex;
    width: 450px;
    height: 120px;
    padding: 1%;
    margin-left: 1%;
}

.product_pictures img {
    width: 100%;
    height: auto;
}

.quote{
    padding: 2%;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.action{
    padding: 2%;
    margin: 5% 10%;
    border-radius: 15px;
    text-align: center;
    background-color: #3882f6;
}

footer {
    padding: 1%;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
}
