header {
    background-color: #1f2937;
}

.header_logo{
    font-size: 24px;
    color: #f9faf8;
}

.link{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: end;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

.sub_text{
    font-size: 18px;
    color: #e5e7eb;
}

.action_button{
    background-color: #3882f6;
    border-color: white;
    border-radius: 12px;
}

.init_button{
    background-color: #3882f6;
    border: none;
    border-radius: 12px;
}

.information{
    font-size: 36px;
    font-style: extra-bold;
    color: #1f2937;
}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.action{
    background-color: #3882f6;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
}
